<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
        integrity="sha384-kyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://kit.font-awesome.com/16fda319fc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
</head>
<style>
    body {
        margin: 0;
        background-color: rgb(91, 86, 86);
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgb(172, 125, 125);
    }

    .flex-1 {
        flex: 3;
    }

    .flex-2 {
        flex: 1;
        display: flex;
        justify-content: space-between;
    }

    .flex-2 p {
        margin-right: 1rem;
    }

    a {
        color: rgb(9, 49, 83);
        font-size: 1.5rem;
    }
</style>

<body>
    <nav>
        <div class="flex-1"></div>
        <div class="flex-2">
            <p> <a href=""><i class="fa-solid fa-user"></i></a> </p>
            <p> <a href=""><i class="fa-solid fa-gear"></i></a> </p>
            <p> <a href="/calendar"><i class="fa-regular fa-calendar"></i></a> </p>
            <p> <a href="{{url_for('retrieve') }}"><i class="fa-solid fa-arrow-up-from-bracket"></i></a></p>
            <p> <a href=""><i class="fa-solid fa-right-from-bracket"></i></a> </p>
        </div>
    </nav>
    <div id="message" class="bg-dark">
    </div>
    <h5>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h5>
            {% block content %}
            {% endblock %}
</body>

</html>