<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

</head>

<style>
    body{
        margin: 0;
        background-color: rgb(91, 86, 86);
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgb(172, 125, 125);
    }

    .flex-1 {
        flex: 3;
    }

    .flex-2 {
        flex: 1;
        display: flex;
        justify-content: space-between;
    }

    .flex-2 p {
        margin-right: 1rem;
    }
    a{
        color: rgb(9, 49, 83);
        font-size: 1.5rem;
    }

</style>

<body>
    <nav>
        <div class="flex-1"></div>
        <div class="flex-2">
            <p> <a href=""><i class="fa-solid fa-user"></i></a> </p>
            <p> <a href=""><i class="fa-solid fa-gear"></i></a> </p>
            <p> <a href=""><i class="fa-solid fa-right-from-bracket"></i></a> </p>
        </div>
    </nav>
    <div id="message" class="bg-dark">
    </div>
    <h5>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <h5>
            {% block content %}
            {% endblock %}
</body>

</html>