{% extends 'base.html' %} {% block content %}
<div class="container">
    <div class="heading">
        <h1>Create Tasks</h1>
    </div>
    <div class="form">
        <form method="POST" enctype="multipart/form-data" action="{{ url_for('dashboard') }}">
            <input type="text" name="task">
            <button><i class="fa-solid fa-ban">submit</i></button>
        </form>
    </div>
    <div class="progression">

        <body>
            {% block body %}
            <h1>On Progress</h1>
            {% for t in task %}
            <p>{{ t['on_progress']}} </p>
            <button><a href={{ url_for('progr' ,id=t['_id']) }}><i class="fa-solid fa-ban">submit</i></a></button>
            <button><i class="fa-solid fa-ban"></i></button>
            <button><a href={{ url_for('update' ,id=t['_id']) }}><i class="fa-solid fa-ban">Update</i></a></button>
            <button><a href={{ url_for('delete' ,id=t['_id']) }}><i class="fa-solid fa-ban">Delete</i></a></button>
            {% endfor %}
            <h1>Completed Tasks</h1>
            {% for c in comp_v %}
            <p>{{ c['completed']}} </p>
            {% endfor %}
            {% endblock %}
            <button><a href={{ url_for('clearall' )}}><i class="fa-solid fa-ban">Clear All</i></a></button>
        </body>
    </div>
    <div class="Completion">
    </div>
</div>
{% endblock %}